# Some custom ignores
*.py[cod]
*.zip
test*.ipynb

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Binaries
*.bin
*.pkl

# Translations
*.mo


# pyenv
.python-version

# ------ ENVIRONMENT IGNORES -----
# Environments
.venv
venv*
venv.bak/

# -------- VSCODE IGNORES ------
.vscode

# Jupyter ignores
.ipynb_checkpoints

# MAC OS hidden files ignores
.DS_Store

# Terraform
*.lock.hcl
.terraform

# Env variables
env_vars.json
